@media only screen and (min-width: 699px) {
ul {
    background: white;
    margin: 0;
    padding: 30px 0px;
  }


  li a {
  display: inline;
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  font-family: roboto;
  font-weight: bold;
}

li a:hover {
  background-color: black;
  color: white;

}

.grid-container {
  display: grid;
  grid-template:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 0px;
  padding: 0px;
}

.infoKontakt > h1, h4, h2 {
  padding-right: 10%;
  font-family: roboto;
  font-weight: bold;
  color: white;
}

.infoKontakt> p {
  padding-right: 10%;
  font-family: roboto;
  font-weight: lighter;
  color: white;
}

.kontaktboks {
  width:35%;
  background-color: white;
  top: 50%;
  height: auto;
  position: absolute;
  font-family: roboto;
  font-weight: bolder;
  border-radius: 2px;
padding-right: 60px;
}

.knap {
  border-radius: 20px;
  color: BLACK;
  margin-top: 18px;
  padding: 10px;
  background-color: white;
  font-size: 32px;
  border: none;
  font-family: roboto;

}

form {

}

.input-felt {
  width: 90%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 5px;
}

.tekst-felt {
  height: 150px;
  padding-top: 10px;
  width: 91.5%;

}

.kontaktInfo {
  display: flex;
  background-color: rgba(0, 0, 0, 5);
  padding: 50px 0px;
  font-size: 30px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}

.kontaktInfo > img {
  height: 909px;
}


.menu{
  float: right;
}

.menu a{
  padding: 30px 30px;
  font-size: 30px;
}
.logo{
  float: left;
}

.item5
{
  background-color: #101010;
  color: white;
  font-size: 50px;
  text-align: center;
}

.grid-container > .item7 {
  background-color: #171616;
}

}


@media only screen and (max-width: 700px) {
  ul {
      background: white;
      margin: 0;
      padding: 30px 0px;

    }


    li a {
    display: block;
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    font-family: roboto;
      border: 2px;

  }

  li a:hover {
    background-color: black;
    color: white;
    border: 2px;
    border-radius: 4px;


  }

.menu
{
  padding: 0px;
  z-index: 9px;
  margin-top: 0px;
}

.logo{
 padding: 0px 0px;
 margin-bottom: -86px;
 visibility: hidden;

}
.item1 a {
  font-size: 20px;
}

.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.9fr;
  grid-template-areas:
    'header'
    'info_om_mig'
    'main'
    'footer';
  grid-gap: 0px;
  padding: 0px;
}

.grid-container > div {
  text-align: center;
  padding: 0px 0px;
}


.grid-container > .item6 {
  background-color: #262322;
  text-align: center;
  padding: 0px 0px;
}

.grid-container > .item4 {
  background-color: #262322;
  text-align: center;
  padding: 0px 0px;
}

.kontaktInfo > img {
  width: 100%;
  height: 100%;
  shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item6 > img {
  height:280px;
}
.infoKontakt > h1 {
  font-family: roboto;
  font-weight: bold;
  color: black;
}

.infoKontakt> p {
  font-family: roboto;
  font-weight: lighter;
  color: black;
}
.item7 > h1 {
  font-family: roboto;
  font-weight: bold;
}

.TEXTVIDEO {
  position: relative;
      color: white;
      margin: 0;
      padding: 0;
      text-align: center;
      top: 50%;
      font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px;
}

.item5
{
  background-color: #101010;
  color: white;
  font-size: 50px;
  text-align: center;
}

.infoKontakt > h1 {
  font-family: roboto;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.infoKontakt> p {
  font-family: roboto;
  font-weight: lighter;
  color: white;
}

.kontaktboks {
  width:35%;
  background-color: white;
  top: 50%;
  height: auto;
  position: absolute;
  font-family: roboto;
  font-weight: bolder;
  border-radius: 2px;
padding-right: 60px;
}

.knap {
  border-radius: 20px;
  color: BLACK;
  margin-top: 18px;
  padding: 10px;
  background-color: white;
  font-size: 32px;
  border: none;
  font-family: roboto;

}

.input-felt {
  width: 90%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 5px;
}

.tekst-felt {
  padding-top: 10px;
height: 150px;

}

.kontaktInfo {
  background-color: rgba(0, 0, 0, 5);
  font-size: 30px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;

}

.infoKontakt > h1, h4, h2 {
  font-family: roboto;
  font-weight: bold;
  color: white;
}

}

.item1 { grid-area: header; }
.kontaktInfo { grid-area: main; }
.item5 { grid-area: footer; }


li {
  display: inline;
  @media (max-width: 1250px){
    display: block;
}
