@media only screen and (min-width: 699px) {
ul {
    background: white;
    margin: 0;
    padding: 30px 0px;
  }


  li a {
  display: inline;
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  font-family: roboto;
}

li a:hover {
  background-color: black;
  color: white;

}

.grid-container {
  display: grid;
  grid-template:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 0px;
  padding: 0px;
}

.infoKontakt > h1 {
  padding-right: 10%;
  font-family: roboto;
  font-weight: bold;
  color: white;
}

.infoKontakt> p {
  padding-right: 10%;
  font-family: roboto;
  font-weight: light;
  color: white;
}

.kontaktInfo {
  display: flex;
  background-color: rgba(0, 0, 0, 5);
  padding: 50px 0px;
  font-size: 30px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}

.kontaktInfo > img {
  width: 40%;
  height: auto%;
  background-size: cover;
}


.menu{
  float: right;
}

.menu a{
  padding: 30px 30px;
  font-size: 30px;
}
.logo{
  float: left;
}

.item5
{
background-color: grey;
}

.grid-container > .item7 {
  background-color: #171616;
}

}


@media only screen and (max-width: 700px) {
ul {
    background: #555;
    list-style-type: none;
  }
  li a {
  display: block;
  color: black;
  padding: 15px 0px;
  text-decoration: none;
}
li a:hover {
  background-color: black;
  color: white;
}



.menu
{
  padding: 0px;
  z-index: 9px;
  margin-top: 0px;
}

.logo{
 padding: 0px 0px;
 margin-bottom: -86px;
 visibility: hidden;

}
.item1 a {
  font-size: 20px;
}

.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.9fr;
  grid-template-areas:
    'header'
    'info_om_mig'
    'main'
    'footer';
  grid-gap: 0px;
  padding: 0px;
}

.grid-container > div {
  text-align: center;
  padding: 0px 0px;
}


.grid-container > .item6 {
  background-color: #262322;
  text-align: center;
  padding: 0px 0px;
}

.grid-container > .item4 {
  background-color: #262322;
  text-align: center;
  padding: 0px 0px;
}

.kontaktInfo > img {
  width: 100%;
  height: 100%;
  shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item6 > img {
  height:280px;
}

.item7 > h1 {
  font-family: roboto;
  font-weight: bold;
}

.TEXTVIDEO {
  position: relative;
      color: white;
      margin: 0;
      padding: 0;
      text-align: center;
      top: 50%;
      font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px;
}

.item5
{
background-color: grey;
}

}

.item1 { grid-area: header; }
.kontaktInfo { grid-area: main; }
.item5 { grid-area: footer; }


li {
  display: inline;
  @media (max-width: 1250px){
    display: block;
}
